################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build.dbg
/build.dbg.mono
*.suo
bin
obj
